
name: Check Folders and Files
on:
  pull_request_target:
    types: [opened, reopened]

jobs:
  check-folders-and-files:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Check for required folders and files
      run: |
        files_to_check="dbt_project.yml"
        # Loop through the list of files/directories and check for renames
        for file in $files_to_check; do
          echo "Checking $file for renames..."
          git_diff_out=$(git diff --name-only ${{ github.base_ref }}..${{ github.sha }} -- "$file" | grep -E '^R[0-9]+|^D')
          echo "Qualquer cena:$git_diff_out. Cenas"
          if [ -n "$git_diff_out" ]; then          
            echo "File renames are not allowed for files within $file in this repository."
            exit 1
          else
            echo "No file renames found for $file."
          fi
        done
        


        
