
name: Check Folders and Files
on:
  pull_request_target:
    types: [opened, reopened]

jobs:
  check-folders-and-files:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Check for required folders and files
      run: |
        # Check if file package.yml exists
        if [ ! -f "models/source.yml" ]; then
          echo "File package.yml is missing."
          exit 1  # Fail the workflow
        fi
