
name: Check Folders and Files
on:
  pull_request_target:
    types: [opened, reopened]

jobs:
  check-folders-and-files:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Check for required folders and files
      run: |
        # Specify the development branch name (e.g., 'main' or 'develop')
        development_branch=development

        # Check if the folder name has been changed or deleted in the created branch
        if git diff --name-only --diff-filter=RD $development_branch...${{ github.ref }} | grep -q '^macros$'; then
          echo "Folder name 'macros' has been changed or deleted in the created branch."
          exit 1  # Fail the workflow
        fi

        # Check if the folder name has been changed or deleted in the created branch
        if git diff --name-only --diff-filter=RD $development_branch...${{ github.ref }} | grep -q '^models$'; then
          echo "Folder name 'models' has been changed or deleted in the created branch."
          exit 1  # Fail the workflow
        fi

        # Check if the folder name has been changed or deleted in the created branch
        if git diff --name-only --diff-filter=RD $development_branch...${{ github.ref }} | grep -q '^models/Datamart$'; then
          echo "Folder name 'models/Datamart' has been changed or deleted in the created branch."
          exit 1  # Fail the workflow
        fi

        # Check if the folder name has been changed or deleted in the created branch
        if git diff --name-only --diff-filter=RD $development_branch...${{ github.ref }} | grep -q '^models/Integration$'; then
          echo "Folder name 'models/Integration' has been changed or deleted in the created branch."
          exit 1  # Fail the workflow
        fi

        # Check if the folder name has been changed or deleted in the created branch
        if git diff --name-only --diff-filter=RD $development_branch...${{ github.ref }} | grep -q '^models/Staging$'; then
          echo "Folder name 'models/Staging' has been changed or deleted in the created branch."
          exit 1  # Fail the workflow
        fi

        # Check if the folder name has been changed or deleted in the created branch
        if git diff --name-only --diff-filter=RD $development_branch...${{ github.ref }} | grep -q '^models/Raw$'; then
          echo "Folder name 'models/Raw' has been changed or deleted in the created branch."
          exit 1  # Fail the workflow
        fi

        # Check if the folder name has been changed or deleted in the created branch
        if git diff --name-only --diff-filter=RD $development_branch...${{ github.ref }} | grep -q '^models/source.yml$'; then
          echo "Folder name 'models/source.yml' has been changed or deleted in the created branch."
          exit 1  # Fail the workflow
        fi

        # Check if the folder name has been changed or deleted in the created branch
        if git diff --name-only --diff-filter=RD $development_branch...${{ github.ref }} | grep -q '^models/snapshots$'; then
          echo "Folder name 'models/snapshots' has been changed or deleted in the created branch."
          exit 1  # Fail the workflow
        fi

        # Check if the folder name has been changed or deleted in the created branch
        if git diff --name-only --diff-filter=RD $development_branch...${{ github.ref }} | grep -q '^models/Tests$'; then
          echo "Folder name 'models/Tests' has been changed or deleted in the created branch."
          exit 1  # Fail the workflow
        fi

        # Check if the folder name has been changed or deleted in the created branch
        if git diff --name-only --diff-filter=RD $development_branch...${{ github.ref }} | grep -q '^models/dbt_project.yml$'; then
          echo "Folder name 'models/dbt_project.yml' has been changed or deleted in the created branch."
          exit 1  # Fail the workflow
        fi

        # Check if the folder name has been changed or deleted in the created branch
        if git diff --name-only --diff-filter=RD $development_branch...${{ github.ref }} | grep -q '^models/package.yml$'; then
          echo "Folder name 'models/package.yml' has been changed or deleted in the created branch."
          exit 1  # Fail the workflow
        fi
