
name: Verify SQL File

on:
  pull_request_target:
    types: [opened, reopened]

jobs:
  verify_sql:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Verify SQL File
        run: |
          echo "0"
          # Define the expected schema regex pattern
          # expected_schema_pattern="^(BDP|GDP|ODP)_[A-Za-z]+(_[A-Za-z]+)?_(RAW|STG|INT|DM)$"
          expected_schema_pattern="^(BDP|GDP|ODP)_[A-Za-z]+(_[A-Za-z]+)?"

          echo "1"

          # Specify the path to your YAML file
          yaml_file="models/source.yml"

          echo "2"

          # Log the content of the YAML file for debugging
          cat "$yaml_file"

          echo "3"

          # Use jq to extract the value of the schema variable
          # actual_schema_value=$(cat "$yaml_file" | jq -r '.sources[].schema')
          # actual_schema_value="TEJO_CSAS_INT"
          actual_schema_value="BDP_CCM_INT"

          echo "4"

          # Check if the actual value matches the expected regex pattern
          echo "Actual Schema Value: $actual_schema_value"
          echo "Expected Schema Pattern: $expected_schema_pattern"

          echo "5"

          if [[ "$actual_schema_value" =~ $expected_schema_pattern ]]; then
            echo "Schema variable matches the expected regex pattern."
          else
            echo "Schema variable does not match the expected regex pattern."
            exit 1
          fi
